#container {
				width: 100%;
				min-width: 1000px;
				margin: 0 auto;
				cursor: default;
}

#options_container {
	float: left;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width: 20%;
	min-width: 200px;
	height: 100%;
	border:1px solid #aaa;

}

#canvas_container {  
	float: right;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width: 80%;
	min-width: 800px;
	height: 80%;
	border:1px solid #aaa;
}

#results_container {
	float: right;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	width: 80%;
	height: 20%;
	border:1px solid #aaa;
}

#options table {
	
	border: 1;
	border-color: #aaa;
}

#options tr {
	border: 1;
}	

#options td {

	text-align: left;
	width: 100%;
}